@using GreenFairy.Data.Authentication
@using GreenFairy.Pages;

@inject IJSRuntime js
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@inject AuthenticationStateProvider provider
@inject DialogService dialogService
@inject NavigationManager navManager

<PageTitle>Green Фея</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <RadzenDialog />
    <main>
        <div class="top-row px-4">
            <RadzenButton Style="margin: 5px; background: #72BC87;" Click="OpenBasket">Кошик</RadzenButton>
            <RadzenButton Style="margin: 5px; background: #72BC87;" Click="@(e => OpenAboutUs())">Про нас</RadzenButton>
            <RadzenButton Style="margin: 5px; background: #72BC87;" Click="@(e => OpenPaymentAndDelivery())">Оплата та доставка</RadzenButton>

            <AuthorizeView>
                <Authorized>
                    <RadzenButton Style="margin: 5px; background: #5F8D6C;" Click="@(e => Logout())">Вийти</RadzenButton>

                </Authorized>
                <NotAuthorized>
                    <RadzenButton class="rz-button" Style="margin: 5px; background: #5F8D6C;" Click="@(e => Login())">Авторизуватися</RadzenButton>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var customProvider = (CustomAuthenticationStateProvider)provider;
        await customProvider.UpdateAuthenticationState(null);

        navManager.NavigateTo("/", true);
    }

    public async void OpenBasket()
    {
        await dialogService.OpenAsync<Basket>($"Кошик",
             options: new DialogOptions()
                 {
                     Width = "1024px",
                     Height = "512px",
                     ShowClose = false,
                     ShowTitle = false,
                     Resizable = true,
                     Draggable = true,
                     CloseDialogOnOverlayClick = true,
                     CloseDialogOnEsc = true
                 });
    }

    public async void OpenAboutUs()
    {
        NavigationManager.NavigateTo("/Про нас");
    }
    public async void OpenPaymentAndDelivery()
    {
        NavigationManager.NavigateTo("/Оплата та доставка");
    }
    public async void Login()
    {
        NavigationManager.NavigateTo("/login");
    }

}
