@page "/Про нас"
@using GreenFairy.Data.Authentication;


<div><RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Center"> Ласкаво просимо до інтернет-магазину розсадника декоративних садових рослин!</RadzenText></div>
<div class="row">
    <div class="col-md-6">



       
        <RadzenText style="font-family: 'Open Sans', sans-serif;  font-size: 20px; " TextAlign="TextAlign.Justify"> Вітаємо Вас на сайті нашого розсадника, поціновувачі рослин!</RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            Наш невеликий сімейний питомник декоративних садових рослин знаходиться у Харьківський області.
        </RadzenText>

        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            В інтернет-магазині нашого розсадника ви можете:
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            <ul>
                <li>
                    купити гейхери - одні з найкращих тіньолюбних рослин, які використовують у садових композиціях на ділянках у напівтіні, або там, де вранці сонце, а після обіду - тінь, а також у рокаріях та альпінаріях, на клумбах, доріжках, що ведуть до будинку.
                </li>
                <li>
                    купити хвойні вічнозелені карликові ялинки або туї. Вони будуть радувати вас довгі роки взимку та влітку. Колекціонери створюють з карликових хвойних найгарніші сади на невеликій площі.
                </li>
                <li>купити очитки - невибагливі ґрунтопокривні рослини. Очитки або седуми – квітучі багаторічники для сонячних місць із тривалим періодом декоративності.</li>
            </ul>
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            Ми дуже відповідально підходимо до питань вирощування та пакування. На сайті викладаємо  фотографії та описи сортів, складені на основі наших вражень.
            За бажанням можемо зробити фотографію конкретного замовлення.
        </RadzenText>

        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">  Молоді гейхери у нас в розпліднику можна купити в горщиках р9. Висаджувати рослини із закритою кореневою системою можна з весни до заморозків.</RadzenText>

        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify"> Будемо раді відповісти на всі ваші запитання!</RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            З найкращими побажаннями,

            Марія та її родина.
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;" TextAlign="TextAlign.Justify">
            Інстаграм: <a href="https://www.instagram.com"> Марія Денчик </a>
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            Номер телефону: +380647803428
        </RadzenText>



    </div>
    <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
        <RadzenImage Path="https://i.pinimg.com/564x/3a/91/cd/3a91cd833f4720f06675372e52fd30c7.jpg"
                     Style="width: 60%; margin: 1rem;">
        </RadzenImage>
    </div>
</div>






@code {

}
