@page "/Про нас"
@using GreenFairy.Data.Authentication;

<h1 > Ласкаво просимо до інтернет-магазину розсадника декоративних садових рослин!</h1>

<h4> Вітаємо Вас на сайті нашого розсадника, поціновувачі рослин!</h4>
<h4>
    Наш невеликий сімейний питомник декоративних садових рослин знаходиться у Харьківський області.</h4>

<h4>
    В інтернет-магазині нашого розсадника ви можете:</h4>
    <h4><ul>
        <li>
             купити гейхери - одні з найкращих тіньолюбних рослин, які використовують у садових композиціях на ділянках у напівтіні, або там, де вранці сонце, а після обіду - тінь, а також у рокаріях та альпінаріях, на клумбах, доріжках, що ведуть до будинку.</li>
        <li>
            купити хвойні вічнозелені карликові ялинки або туї. Вони будуть радувати вас довгі роки взимку та влітку. Колекціонери створюють з карликових хвойних найгарніші сади на невеликій площі.</li>
        <li>купити очитки - невибагливі ґрунтопокривні рослини. Очитки або седуми – квітучі багаторічники для сонячних місць із тривалим періодом декоративності.</li>
    </ul>
</h4>
   <h4> Ми дуже відповідально підходимо до питань вирощування та пакування. На сайті викладаємо  фотографії та описи сортів, складені на основі наших вражень.
    За бажанням можемо зробити фотографію конкретного замовлення.</h4>

<h4>  Молоді гейхери у нас в розпліднику можна купити в горщиках р9. Висаджувати рослини із закритою кореневою системою можна з весни до заморозків.</h4>

<h4> Будемо раді відповісти на всі ваші запитання!</h4>
<h4>З найкращими побажаннями,

    Марія та її родина.
</h4>



@code {

}
