@page "/Basket"
@using GreenFairy.Data.Authentication;
@using GreenFairy.DomainLayer.DataBase.Entities

@inject UserAccountService service
@inject AuthenticationStateProvider provider
<h3>Basket</h3>
<h3>@User?.Name</h3>

<h3>@User?.Role</h3>

@code {
    public List<PlantEntity> plants = new List<PlantEntity>();
    public PlantEntity Plant { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    public UserAccount User;
    public AnonUserAccaunt userAccaunt;


    protected override async Task OnInitializedAsync()
    {
        var customProvider = provider as CustomAuthenticationStateProvider;
        authenticationState = customProvider.GetAuthenticationStateAsync();
        if (authenticationState is not null)
        {
            var authState = await authenticationState;

            User = service.GetUserByName(authState.User.Identity.Name);
        }
        await base.OnInitializedAsync();
    }


}
