@page "/Basket"
@using GreenFairy.Data.Authentication;
@using GreenFairy.DomainLayer.DataBase.Entities

@inject UserAccountService service
@inject AuthenticationStateProvider provider
<h3>Basket</h3>
<h3>@User?.Name</h3>

<h3>@User?.Role</h3>

@code {
    public List<PlantEntity> Plants => User.Plants;

    public AnonUserAccaunt User = UserAccountService.CurrentUser;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


}
