@page "/Оплата та доставка"
@using GreenFairy.Data.Authentication;
<div><RadzenText TextStyle="TextStyle.H4" TextAlign="TextAlign.Center"> Оплата та доставка</RadzenText></div>
<div class="row">
    <div class="col-md-6 columnright">



        <p></p>
        <p></p>
        <p></p>
       
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: bold;" TextAlign="TextAlign.Justify">
        Замовлення надсилаємо перевізниками:
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;" TextAlign="TextAlign.Justify">
            <ul>
                <li>
                    "Нова Пошта". Орієнтовна вартість доставки 1 упаковки з 4 рослинами 60-80 грн., з 6 рослинами -80-90 грн., з 12 рослинами - 90-100 грн.; Чим більше рослин – тим дешевше виходить доставка у перерахунку на 1 рослину.
                </li>
            </ul>
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: bold;" TextAlign="TextAlign.Justify">
            Сплатити замовлення можна:
        </RadzenText>
          <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;" TextAlign="TextAlign.Justify">
            <ul>
                <li>
                    на картку Приватбанку (реквізити ви отримаєте по e-mail разом із підтвердженням замовлення);
                        </li>
                <li>
                    післяплатою при отриманні замовлення на Новій пошті;
                </li>
                    </ul>
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: bold;" TextAlign="TextAlign.Justify">
            Упаковка
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;" TextAlign="TextAlign.Justify">
            Дуже важливою є надійна упаковка, тому що рослини можуть пом'ятися або поламатися в дорозі. Щоб цього не сталося, ми розробили спеціальну упаковку, яка утримує горщики у зафіксованому положенні навіть при перевертанні.
        </RadzenText>


        

        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;  margin-top: 30px;" TextAlign="TextAlign.Justify"> Будемо раді відповісти на всі ваші запитання!</RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px; " TextAlign="TextAlign.Justify">
            З найкращими побажаннями,

            Марія та її родина.
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;" TextAlign="TextAlign.Justify">
            Інстаграм: <a href="https://www.instagram.com/"> Марія Денчик </a>
        </RadzenText>
        <RadzenText style="font-family: 'Open Sans', sans-serif; font-size: 20px;" TextAlign="TextAlign.Justify">
            Номер телефону: +380647803428
        </RadzenText>



    </div >
    <div class="col-md-6 column" style="display: flex; justify-content: center; align-items: center;">
        <RadzenImage Path="https://i.pinimg.com/564x/43/c0/b9/43c0b9207405339adc50d50b321973de.jpg"
                     Style="width: 60%; margin: 1rem;">
        </RadzenImage>
    </div>
</div>


@code {

}
